@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

span, label, button, p {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid{
    position: relative;
    width: 100%;
    /* height: 200px; */
}

.container-card{
    position: absolute;
    margin-left: 15%;
    margin-top: 10%;
    width: 70%;
    height: 650px;
    background-color: rgb(223, 236, 240);
}

.quiz-title{
    background-color: rgb(144, 143, 138);
}

.quiz-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(130, 134, 129);
}

/* .progress-bar{
    width: 0%;
} */

@media (max-width: 1090px) {
    #button{
        padding:2px 4px;
        font-size:90%;
        margin-top: -20px;
        /* position: static; */
    }

    #name{
        text-align: left!important;
    }

    /* .container-card{
        height: 800px;
    } */
  }

  @media (max-width: 807px) {
        .container-card{
            height: 800px;
        }
  }

  @media (max-width: 473px) {
    .container-card{
        height: 850px;
    }

    .end-time{
        display: none;
    }
}