@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

span, label, button, p {
    font-family: 'Montserrat', sans-serif!important;
    
}

.container-fluid{
    position: relative;
    width: 100%;
    /* height: 200px; */
}

.container-card{
    position: absolute;
    margin-left: 15%;
    margin-top: 10%;
    width: 70%;
    height: 650px;
    background-color: rgb(223, 236, 240);
}

#result, #time-out, #user{
    position: relative;
    width: 100%;
}


.time-out-container-content, .container-content{
    position: absolute;
    margin-left: 25%;
    margin-top: 10%;
    width: 40%;
    height: 170px;
    background-color: rgb(223, 236, 240);
}

.user-content{
    position: absolute;
    margin-left: 25%;
    margin-top: 10%;
    width: 40%;
    height: 220px;
    background-color: rgb(223, 236, 240);
}


.quiz-title{
    background-color: rgb(144, 143, 138);
}

.quiz-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(130, 134, 129);
}

#button{
    position: absolute;
    /* margin-right: 10px; */
    bottom: 60px;
    margin-left: -10%;
}

/* .progress-bar{
    width: 0%;
} */

@media (max-width: 1090px) {
    

    .container-card{
        height: 690px;
    }

    #name{
        text-align: left!important;
    }
  }

  @media (max-width: 807px) {
        .container-card{
            height: 800px;
        }

    #quiz-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #name-lastname{
        font-size: small;
    }
        
    #button{
            padding:2px 4px;
            font-size:90%;
            margin-top: -20px;
            /* position: static; */
        }
  }

  @media (max-width: 550px) {
    .container-card{
        height: 870px;
        font-size: small;
        /* width: 70%; */
    }
    
    #button{
        position: absolute;
        margin-top: 0px;
        bottom: 60px;
        margin-left: -20%;
    }

    .end-time{
        display: none;
    }
}

@media (max-width: 460px) {
    .user-content{
        position: absolute;
        margin-left: 25%;
        margin-top: 10%;
        width: 40%;
        height: 260px;
        background-color: rgb(223, 236, 240);
    }

    #start-button{
        margin-top: 20px!important;
    }

    #start-button, p{
        font-size: small;
    }
}